config.json
obj/
bin/
*.dll
*.gif
*.png
*.jpg
*.file
*.o
*.s
*.fakefile
*.py
*.e
*.html
*.p
*makefile
fa.kefile
*.m
*.r
*.oop
*.dono
*.fuck
*.css
*.tlp
*.z
*.a
*.g
Holder
sqldialects.yml
*.badges
static.yml
data/images/*
CLAUDE.md
*idea/*